.scroll-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-bottom: -20px;
  /* Compensa a margem interna do scroll */
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Esconde a barra de rolagem do WebKit (Safari e Chrome) */
}

.scroll-item {
  flex: 0 0 auto;
  width: 20rem;
  /* Largura dos itens do carrossel */
  margin-right: 1rem;
  /* Espaçamento entre os itens */
  transition: margin 0.5s;
}

.scroll-item:last-child {
  margin-right: 0;
}

button {
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 24px;
  height: 24px;
  stroke: #555;
}
