.nav-container {
  height: 60px; /* Altura da navegação */
}

/* Estilo para remover margem inferior da categoria */
.category-section {
  margin-bottom: -1px; /* Remover a margem inferior */
}
.scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.scroll-container .card {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

/* Ajuste para os botões dos carrosséis */
.carousel-left-button,
.carousel-right-button,
.carousel-left-button3,
.carousel-right-button3 {
  top: calc(50% + 60px); /* Ajuste conforme necessário */
}

.carousel-left-button,
.carousel-left-button3 {
  left: 10px; /* Ajuste conforme necessário */
}

.carousel-right-button,
.carousel-right-button3 {
  right: 10px; /* Ajuste conforme necessário */
}
.spacer-bottom {
  margin-bottom: 60px; /* Reduzido o valor conforme necessário */
}
.category-link::before {
  content: "|";
  color: rgba(254, 254, 254, 0.959);
  margin-right: 0.5rem;
}

.category-link:first-child::before {
  content: "";
}

.category-link:hover {
  color: rgb(241, 190, 180); /* Fix the hover color to be the same as the default color */
}
 /* Estilos personalizados */
 @media (max-width: 768px) {
  .nav-container {
      padding: 10px 20px; /* Ajuste o padding conforme necessário */
  }

  .nav-container .hidden.md\:flex {
      flex-wrap: wrap;
  }

  .nav-container .hidden.md\:flex a {
      display: block;
      margin-bottom: 10px; /* Espaçamento entre os links */
  }
}